<h1>
  Edit lift #<%= @lift.id %>
</h1>

<hr>

<form action="/update_lift/<%= @lift.id %>" method="post">

  <div class="form-group">
    <label for="workout_id">
      Workout
    </label>

    <%= select_tag(:workout_id, options_from_collection_for_select(Workout.all, :id, :user_id, @lift.workout_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="body_part">
      Body part
    </label>

    <input type="text" id="body_part" name="body_part" class="form-control" value="<%= @lift.body_part %>">
  </div>

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <input type="text" id="comments" name="comments" class="form-control" value="<%= @lift.comments %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update lift
  </button>
</form>

<hr>

<a href="/lifts">
  Go back
</a>
