<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Workout #<%= @workout.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/workouts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link workout start -->
      <div class="col">
        <% if current_user == @workout.user %>
          <a href="/workouts/<%= @workout.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit workout
          </a>
        <% end %>
      </div>
      <!-- Edit link workout end -->

      <!-- Delete link workout start -->
      <div class="col">
        <% if current_user == @workout.user %>
          <a href="/delete_workout/<%= @workout.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete workout
          </a>
        <% end %>
      </div>
      <!-- Delete link workout end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <% if @workout.user.present? %>
          <a href="/users/<%= @workout.user_id %>">
            <%= @workout.user.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Date
      </dt>
      <!-- Display date start -->
      <dd>
        <%= @workout.date %>
      </dd>
      <!-- Display date end -->

      <dt>
        Category
      </dt>
      <!-- Display category start -->
      <dd>
        <%= @workout.category %>
      </dd>
      <!-- Display category end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@workout.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@workout.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
