<% if @run.errors.any? %>
  <% @run.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit run #<%= @run.id %>
</h1>

<hr>

<form action="/update_run/<%= @run.id %>" method="post">

  <div class="form-group">
    <label for="workout_id">
      Workout
    </label>

    <%= select_tag(:workout_id, options_from_collection_for_select(Workout.all, :id, :user_id, @run.workout_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="distance">
      Distance
    </label>

    <input type="text" id="distance" name="distance" class="form-control" value="<%= @run.distance %>">
  </div>

  <div class="form-group">
    <label for="time">
      Time
    </label>

    <input type="text" id="time" name="time" class="form-control" value="<%= @run.time %>">
  </div>

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <input type="text" id="comments" name="comments" class="form-control" value="<%= @run.comments %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update run
  </button>
</form>

<hr>

<a href="/runs">
  Go back
</a>
