<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All runs
    </h1>

    <a href="/runs/new" class="btn btn-block btn-outline-secondary">
      Add a new run
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Workout
        </th>

        <th>
          Distance
        </th>

        <th>
          Time
        </th>

        <th>
          Comments
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @runs.each do |run| %>
      <tr>
        <!-- Display run.id start -->
        <td>
          <%= run.id %>
        </td>
        <!-- Display run.id end -->

        <!-- Display run.workout_id start -->
        <td>
          <%= run.workout.user_id %>
        </td>
        <!-- Display run.workout_id end -->

        <!-- Display run.distance start -->
        <td>
          <%= run.distance %>
        </td>
        <!-- Display run.distance end -->

        <!-- Display run.time start -->
        <td>
          <%= run.time %>
        </td>
        <!-- Display run.time end -->

        <!-- Display run.comments start -->
        <td>
          <%= run.comments %>
        </td>
        <!-- Display run.comments end -->

        <!-- Display run.created_at start -->
        <td>
          <%= time_ago_in_words(run.created_at) %> ago
        </td>
        <!-- Display run.created_at end -->

        <!-- Display run.updated_at start -->
        <td>
          <%= time_ago_in_words(run.updated_at) %> ago
        </td>
        <!-- Display run.updated_at end -->

        <td>
          <a href="/runs/<%= run.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
