<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Run #<%= @run.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/runs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/runs/<%= @run.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit run
        </a>
      </div>

      <div class="col">
        <a href="/delete_run/<%= @run.id %>" class="btn btn-block btn-outline-secondary">
          Delete run
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Workout
      </dt>
      <dd>
        <% if @run.workout.present? %>
          <a href="/workouts/<%= @run.workout_id %>">
            <%= @run.workout.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Distance
      </dt>
      <dd>
        <%= @run.distance %>
      </dd>

      <dt>
        Time
      </dt>
      <dd>
        <%= @run.time %>
      </dd>

      <dt>
        Comments
      </dt>
      <dd>
        <%= @run.comments %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@run.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@run.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

