<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Climb #<%= @climb.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/climbs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link climb start -->
      <div class="col">
        <a href="/climbs/<%= @climb.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit climb
        </a>
      </div>
      <!-- Edit link climb end -->

      <!-- Delete link climb start -->
      <div class="col">
        <a href="/delete_climb/<%= @climb.id %>" class="btn btn-block btn-outline-secondary">
          Delete climb
        </a>
      </div>
      <!-- Delete link climb end -->
    </div>

    <dl>
      <dt>
        Workout
      </dt>
      <!-- Display workout_id start -->
      <dd>
        <% if @climb.workout.present? %>
          <a href="/workouts/<%= @climb.workout_id %>">
            <%= @climb.workout.user_id %>
          </a>
        <% end %>
      </dd>
      <!-- Display workout_id end -->

      <dt>
        Routes
      </dt>
      <!-- Display routes start -->
      <dd>
        <%= @climb.routes %>
      </dd>
      <!-- Display routes end -->

      <dt>
        Comments
      </dt>
      <!-- Display comments start -->
      <dd>
        <%= @climb.comments %>
      </dd>
      <!-- Display comments end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@climb.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@climb.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
